@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);
/*  navigation bar   */
  .topnav {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .topnav a {
    float: left;
    display: block;
    color: #969696;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
  }
  .topnav a:hover {
    color: black;
  }
  .topnav a.active {
    color: rgb(0, 0, 0);
  }

/*    flex container    */
  .flex-container {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    flex-wrap: wrap;
  }

  /*  left banner  */
  .left-banner{
    flex: 1 1 auto;
    width: 50vmin;
    border-radius: 2% 0% 0% 2%;
  }
  .wrap{
    max-width: 100%;
    margin-right: auto;
    margin-left: 0;
    padding-bottom: 30px;
  }
    .left-banner a:hover{
      color: #333;
    }

  .wrap h1{
    font-size: 3em;
    color: rgb(73, 76, 84);
    letter-spacing: 4px;
    margin: 0;
  }
  .wrap p{
    color: #333;
    word-wrap: break-word;
    text-align: justify;
    font-size: 1.1em;
    letter-spacing: 2px;
  }
  .wrap p:nth-child(4){
    width: 60%;
  }
  .button{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .button button{
    border-style: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    cursor: pointer;
    padding: 15px 98px;
    background-color: #b4d4f1;
    color: rgb(17, 18, 19);
    border-radius: 5px;
  }


/*   right banner   */
  .right-banner{
    flex: 1 1 auto;
    width: 50vmin;
    border-radius: 2%;
  }

  .right-banner img{
    border-radius: 2%;
    max-width: 80%;
    display: block;
    margin-right:0;
    margin-left:auto;
  }
  
  /* main text */
  .center_text{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
  }
  .center_text > p{
    font-size: 1.2rem;
    font-family: 'Zilla Slab', serif;
    word-wrap: break-word;
    text-align: justify;
  }
